<div class="row">
    <div class="col s12 m12 heading-custom  blue-text">Frequently Asked Questions</div>
      <ul class="collapsible">
        <span *ngFor="let faq of faqs">
          <li>
            <div class="collapsible-header">
                {{faq.question}}
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
            <div class="collapsible-body">
              <span>{{faq.answer}}.</span>
            </div>
          </li>
      </span>
    </ul>
</div> 