<div class="faq-wrapper">
  <h1 class="heading">Frequently Asked Questions</h1>
  <div class="content-title-underline-black big-bottom-mrg"></div>
  <span *ngFor="let faq of faqs">
    <div class="faq-panel">
        <div class="faq-question" (click)="faq.isHidden = !faq.isHidden">
          <h4>{{faq.question}} 
            <span class="fa fa-arrow-down faq-arrowicon" [hidden]="!faq.isHidden"></span>
            <span class="fa fa-arrow-up faq-arrowicon" [hidden]="faq.isHidden"></span>
          </h4>
        </div>
        <div class="faq-answer faq-answer-grey" [hidden]="faq.isHidden">
          <p>{{faq.answer}}</p>
        </div>
    </div>
  </span>
</div>