<carousel></carousel>

<h1 class="heading description-heading">Description</h1>
<div class="content-title-underline-black"></div>
<div class="description-wrapper">
    <div class="descriptionss" id="project2">
        <div class="description-text ">
            <p class="text-data">TechForSocial is a platform founded by Dr. Dhananjay Kalbande which aims to find innovative ways to make use of technology for social causes. As a part of this initiative, we have conducted many academic research projects and industry consultation projects. Papers have been published and patents filed for these projects. One of the important points of focus for us is the application of innovative technological solutions in the field of healthcare, and many of our projects are based on this outcome.
            </p>
        </div>
    </div>
</div>

<course></course>