<!-- <carousel></carousel> -->

<div class="row">
    <div class="col s12 m8 offset-m2 mdl-shadow--4dp">
      <div class="card card-custom blue-grey darken-1">
        <div class="card-content white-text">
          <p>TechForSocial is a platform founded by Dr. Dhananjay Kalbande which aims to find innovative ways to make use of technology for social causes. As a part of this initiative, we have conducted many academic research projects and industry consultation projects. Papers have been published and patents filed for these projects. One of the important points of focus for us is the application of innovative technological solutions in the field of healthcare, and many of our projects are based on this outcome.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 heading-custom blue-text">Current Projects</div>

    <div *ngIf="showSpinner" class="spinner-wrapper-custom">
        <div class="s12 m12 spinner-custom preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let project of openProjects$; let i = index" class="col s12 m6">
        <div class="card card-custom">
            <div class="card-content" style="text-align:center;">
                <span class="card-title activator grey-text text-darken-4">
                    {{project.name}}
                </span>
                {{project.description}}
            </div>
            <div class="card-action card-action-custom">
                <a routerLink="/project/{{project.slug}}">Read More</a>
            </div>
        </div>

        <div *ngIf="i%2==1" class="col s12 m12"  style="height: 1px;"></div>
    </div>
        
</div>

