<carousel></carousel>

<div class="row">
    <div class="col s12 m8 offset-m2 mdl-shadow--4dp">
      <div class="card card-custom blue-grey darken-1">
        <div class="card-content white-text">
          <p>TechForSocial is a platform founded by Dr. Dhananjay Kalbande which aims to find innovative ways to make use of technology for social causes. As a part of this initiative, we have conducted many academic research projects and industry consultation projects. Papers have been published and patents filed for these projects. One of the important points of focus for us is the application of innovative technological solutions in the field of healthcare, and many of our projects are based on this outcome.</p>
        </div>
      </div>
    </div>
  </div>

<course></course>
