<div class="row">

    <div class="col s12 m12 heading-custom blue-text">Founder</div>
    <div class="col s12 m8 offset-m2">
        <div class="card intro-card">
        <img class="profile_pic mdl-shadow--4dp" src="../assets/img/drk-pic.jpg"/>
        <div class="card-content">
            <span class="card-title">Dr. Dhananjay Kalbande</span>
            <p class="intro-card-text">
                Currently a Professor, Head(Computer Engineering) and Dean(Industry Relations) at Sardar Patel Institute of Technology. 
                My interests include Soft computing (Neural Networks, Fuzzy Logic),Computer Network, Human Machine Interaction Decision making 
                and business Intelligence, Mobile application development for social cause, ICT for semi rural development for social cause. 
                I have authored four books namely Graphical User Interface(Pareen Publications), MIS(Pareen Publications), Human Machine 
                Interaction(Wiley Publications) and Digital Forensic(Wiley Publications). 
                Skinzy is the brainchild of mine which has been turned into reality with the help of Dr. Uday Khopkar who is Dermatologist by profession. 
                Skinzy's flagship product "DermaPhoto" is an AI based mobile application that is able to detect skin diseases.
            </p>
        </div>
        <div class="card-action links-card">
            <div class="row s12">
                <div class="col s4 m4">
                    <a class="link red-text" target="_blank" href="http://www.drkalbande.in">Website</a>
                </div>
                <div class="col s4 m4">
                    <a class="link red-text" target="_blank" href="https://in.linkedin.com/in/dr-dhananjay-kalbande-77349923">LinkedIn</a>
                </div>
                <div class="col s4 m4">
                <a class="link red-text" target="_blank" href="mailto:drkalbande@spit.ac.in">Email</a>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col s12 m12 heading-custom blue-text">Students</div>
    <div class="col s12 m8 offset-m2 l4">
        <div class="card intro-card">
        <img class="profile_pic mdl-shadow--4dp" src="../assets/img/sai.jpg"/>
        <div class="card-content">
            <span class="card-title">Sai Yerramreddy</span>
            <p class="intro-card-text">
                    Mentor and Overall Head<br>
                    Avid learner of technology, Data Science Lover, Comic Geek, CE student at S.P.I.T
            </p>
        </div>
        <div class="card-action links-card">
            <div class="row s12">
                <div class="col s4 m4">
                    <a class="link red-text" target="_blank" href="https://github.com/SaiArrow">Github</a>
                </div>
                <div class="col s4 m4">
                    <a class="link red-text" target="_blank" href="https://www.linkedin.com/in/sai-yerremreddy-8240b7128/">LinkedIn</a>
                </div>
                <div class="col s4 m4">
                <a class="link red-text" target="_blank" href="mailto:sai.yerremreddy@spit.ac.in">Email</a>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col s12 m8 offset-m2 l4">
        <div class="card intro-card">
        <img class="profile_pic mdl-shadow--4dp" src="../assets/img/sam.jpg"/>
        <div class="card-content">
            <span class="card-title">Samriddha Basu</span>
            <p class="intro-card-text">
                    Mentor and Overall Head<br>
                    A computer engineering student with a love of tech and a flair for code
            </p>
        </div>
        <div class="card-action links-card">
            <div class="row s12">
                <div class="col s4 m4">
                    <a class="link red-text" target="_blank" href="https://samriddhabasu.github.io">Website</a>
                </div>
                <div class="col s4 m4">
                    <a class="link red-text" target="_blank" href="https://github.com/TheDorkKnightRises">Github</a>
                </div>
                <div class="col s4 m4">
                <a class="link red-text" target="_blank" href="https://www.linkedin.com/in/samriddha-basu/">LinkedIn</a>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col s12 m8 offset-m2 l4">
        <div class="card intro-card">
        <img class="profile_pic mdl-shadow--4dp" src="../assets/img/tejas.jpg"/>
        <div class="card-content">
            <span class="card-title">Tejas Bhitle</span>
            <p class="intro-card-text">
                    Mentor and Web Dev Head<br>
                    Software Developer, Ex Morgan Stanley Intern, Computer undergrad at S.P.I.T.
            </p>
        </div>
        <div class="card-action links-card">
            <div class="row s12">
                <div class="col s4 m4">
                    <a class="link red-text" target="_blank" href="https://tejasbhitle.github.io">Website</a>
                </div>
                <div class="col s4 m4">
                    <a class="link red-text" target="_blank" href="https://github.com/TejasBhitle">Github</a>
                </div>
                <div class="col s4 m4">
                <a class="link red-text" target="_blank" href="https://www.linkedin.com/in/tejasbhitle/">LinkedIn</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
