<div class="founder-section-wrapper small-top-mrg">
  <div class="intro">
      <h2 class="founder-heading">Founder</h2>
      <img src="../assets/img/pic.jpg" alt="Image Not found" class="founder-image img-responsive inbetween-margin" height=300px width=200px>
      <a href="" class="founder-name  inbetween-margin">Dr. Dhananjay Kalbande</a>
  </div>
  <div class="founder-bio founder-align">
      <h3 class="founder-title">Bio</h3>
      <p class="bio-content">Currently a Professor, Head(Computer Engineering) and Dean(Industry Relations) at Sardar Patel Institute of Technology. My interests include Soft computing (Neural Networks, Fuzzy Logic),Computer Network, Human Machine Interaction Decision making and business Intelligence, Mobile application development for social cause, ICT for semi rural development for social cause. I have authored four books namely Graphical User Interface(Pareen Publications), MIS(Pareen Publications), Human Machine Interaction(Wiley Publications) and Digital Forensic(Wiley Publications). Skinzy is the brainchild of mine which has been turned into reality with the help of Dr. Uday Khopkar who is Dermatologist by profession. Skinzy's flagship product "DermaPhoto" is an AI based mobile application that is able to detect skin diseases.   
      </p>
  </div>
  <div class="founder-links founder-align">
      <h3 class="founder-title">links</h3>
      <ul class="link-list bio-content">
          <li><a href="http://www.drkalbande.in">http://www.drkalbande.in/</a></li>
          <li><a href="https://in.linkedin.com/in/dr-dhananjay-kalbande-77349923">https://in.linkedin.com/in/dr-dhananjay-kalbande-77349923</a></li>
          <li><a href="drkalbande@spit.ac.in">drkalbande@spit.ac.in</a></li>
      </ul>
  </div>
</div>
<div class="student-section-wrapper">
  <div class="intro">
      <h2 class="founder-heading">Students</h2>
      <div class="row student-images">
        <div style="padding-left: 50px"></div>
          <div class="col-md-3">
              <img src="../assets/img/sai.jpg" alt="Error" class="founder-image img-responsive" height=300px width=200px>
              <h4 class="student-name">Sai Yerramreddy</h4>
              <p class="bio-content">Mentor and Overall Head</p>
                <div class="founder-links founder-align">
                        <button><a href="https://github.com/SaiArrow">Github</a></button>
                        <button><a href="mailto:sai.yerremreddy@spit.ac.in">Email</a></button>
                
                </div>
          </div>
          <div  class="col-md-1"></div>
          <div  class="col-md-3">
              <img src="../assets/img/sam.jpg" alt="Error" class="founder-image img-responsive" height=300px width=200px>
              <h4 class="student-name">Samriddha Basu</h4>
              <p class="bio-content">Mentor and Overall Head</p>
              <p class="bio-content">A computer engineering student with a love of tech and a flair for code</p>
              <div class="founder-links founder-align">
                                   
                <button><a href="https://samriddhabasu.github.io">Website</a></button>
                <button><a href="https://github.com/TheDorkKnightRises">Github</a></button>
                <button><a href="mailto:samriddha.basu@spit.ac.in">Email</a></button>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
              <img src="../assets/img/tejas.jpg" alt="Error" class="founder-image img-responsive" height=300px width=200px>
              <h4 class="student-name">Tejas Bhitle</h4>
              <p class="bio-content">Mentor and Web Dev Head</p>
              <p class="bio-content">Software Developer, Ex Morgan Stanley Intern, Computer undergrad at S.P.I.T.</p>
              <div class="founder-links founder-align">
                
                <button><a href="https://tejasbhitle.github.io">Website</a></button>
                <button><a href="https://github.com/TejasBhitle">Github</a></button>
                <button><a href="mailto:tejas.bhitle@spit.ac.in">Email</a></button>
                
            </div>
          </div>
      </div>
  </div>
</div>