

<div class='container-fluid carousel-wrapper'>

  <div class='col-12'>
  <ngb-carousel>
  <ng-template ngbSlide>
    <img src="../../assets/img/carousel1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <!-- <h3>10 seconds between slides...</h3> -->
      <p> Highlights are the Recent Milestones and Major Achievements for the platform</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/img/carousel2.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <!-- <h3>No mouse events...</h3> -->
      <p>The Website for the TechForSocial platform is Up and Running</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/img/carousel3.jpeg" alt="Random third slide">
    <div class="carousel-caption">
      <!-- <h3>No keyboard...</h3> -->
      <p>The Prototype App for raising awareness and diagnosing autism if finally ready</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/img/carousel4.jpg" alt="Random fourth slide">
    <div class="carousel-caption">
      <!-- <h3>And no wrap after last slide.</h3> -->
      <p>A Patent for Skinzerflow has been filed</p>
    </div>
  </ng-template>
</ngb-carousel>
  </div>
 
  </div>
