<h1 class="heading">Current Projects</h1>
<div class="clear-float">
    <div class="projects-wrapper col-md-8 pull-left col-sm-12">
        <div class="projects clear-float" id="project1">
            <div class="image  pull-right img-responsive"></div>
            <div class="text pull-left">
                <p class="text-data"><span class="text-title">Elderly</span>With the advancement in the field of medicine and technology the age of living has increased thus<a href="" class="learn-more">...</a></p></div>
        </div>
        <div class="projects" id="project2">
            <div class="image image-url pull-left"></div>
            <div class="text pull-right">
                <p class="text-data"><span class="text-title">Autism
                </span> Currently affecting around 1 in 68 children, Autism Spectrum Disorder (ASD) is a psychological disorder that is <a href="" class="learn-more">...</a></p></div>
        </div>
        <div class="projects" id="project3">
            <div class="image pull-right"></div>
            <div class="text pull-left">
                <p class="text-data"><span class="text-title">Skinzerflow
                </span> combination of Internet of Things, Data science and machine learning applied to detect skin diseases and  <a href="" class="learn-more">...</a></p></div>
        </div>
    </div>
    <div class="news-wrapper pull-right col-md-3 col-sm-12">
        <news></news>
    </div>
    </div>
