<div *ngIf="!isWriteView$">
  <button class="button btn btn-warning"
    (click)="onCreatePressed()">
    Add News
  </button>
  <table class="table">
    <thead>
        <tr>
          <th>News</th>
          <th></th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let newsItem of news">
        <td>{{newsItem.text}}</td>
        <td>
          <button  class="btn btn-primary" 
            (click)="onEditPressed(newsItem)">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger"
            (click)="onDeletePressed(newsItem)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isWriteView$">

  <form #newsForm="ngForm" (ngSubmit)="submitForm(newsForm)">
    <div class="form-group">
      <label for="newstext">News</label>
      <input [(ngModel)] = "newsItem$.text" class="form-control" name="text"
      placeholder="Enter text" id="newstext" type="text" aria-describedby="newsHelp">
      <small id="newsHelp" class="form-text text-muted">
        This text would be added in news.</small>
    </div>

    <button class="button btn btn-primary" type="submit">Save</button>

    <button class="button btn btn-danger"
      (click)="onCancelPressed()"> Cancel
    </button>
  </form>


</div>
