.spinner-wrapper-custom{
    text-align: center;
}
.spinner-custom{
    display: inline-block;
}
.card-custom{
    padding-top: 40px;
    margin-top: 20px;
}
.card .card-image img {
    margin: auto;
    height: 150px;
    width: 150px;
}
