<div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card card-custom">

        <div class="card-content" style="text-align:center;">

        <div *ngIf="showSpinner" class="spinner-wrapper-custom">
          <div class="s12 m12 spinner-custom preloader-wrapper small active">
              <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                  <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                  <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                  <div class="circle"></div>
                  </div>
              </div>
              </div>
          </div>
            
          <span class="card-title activator grey-text text-darken-4">
              {{project$.name}}
          </span>
          {{project$.abstract}}
      </div>

      <div class="card-action card-action-custom">
          <span *ngFor="let keyword of project$.keywords">
              <div class="chip">{{keyword}}</div>
          </span>
      </div>
      <div class="card-content" *ngIf="project$.papers">
        Papers/Patents:
        <ul style="list-style-type:none">
          <li *ngFor="let paper of project$.papers">
            <i  class="fa fa-file" aria-hidden="true"></i> 
            <a target="_blank" href="{{paper.url}}">{{paper.name}}</a>
          </li>
        </ul>
      </div>
      <div class="card-content">Team:<br>{{project$.team}}</div>
      </div>
  </div>
