<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">TechForSocial</a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/people">People</a></li>
      <li><a routerLink="/publications">Publications</a></li>
      <li><a routerLink="/faq">FAQS</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/projects">Projects</a></li>
  <li><a routerLink="/people">People</a></li>
  <li><a routerLink="/publications">Publications</a></li>
  <li><a routerLink="/faq">FAQS</a></li>
</ul>