<nav class="nav-wrapper clear-float fixed-top ">
    <div class="logo pull-left">LOGO</div>
    <ul class="nav-details pull-right">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/people">People</a></li>
        <li><a routerLink="/publications">Publications</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/releases">Releases</a></li>
        <li><a routerLink="/admin">Admin</a></li>
    </ul>
</nav> 


