nav {
  height: 64px;
}

.material-icons {
  height: 64px;
  line-height: 64px;
}

.sidenav > li > a {
  color: #fff;
}


.brand-logo {
  padding-left: 299px;
}

@media only screen and (max-width : 992px) {

  .brand-logo {
    padding-left: 0px;
  }

}
