<div class="navbar-fixed">
<nav class="blue z-depth-2">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo center"><img class="logo" src="../assets/img/logo.png" style="height: 64px; width: 64px;"></a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
</div>

<ul class="sidenav sidenav-fixed blue" id="mobile-demo">
  <li><a class="sidenav-close" routerLink="/" style="font-size: 1.5em; margin-top: 8px;">TechForSocial</a></li>
  <li><a class="sidenav-close" routerLink="/projects">Projects</a></li>
  <li><a class="sidenav-close" routerLink="/people">People</a></li>
  <li><a class="sidenav-close" routerLink="/publications">Publications</a></li>
  <li><a class="sidenav-close" routerLink="/faq">FAQs</a></li>
</ul>

