<!-- <div class="jumbotron">
    <div class="row" style="padding-left:150px ;padding-right:150px;">
        <div class="col-sm-6">
            <img src="https://zerodha.com/static/images/kite-dashboard.png" class="img-fluid d-block" alt="kite3.0">      
        </div>
        <div class="col-sm-6">
            <img src="https://zerodha.com/static/images/kite-dashboard.png" class="img-fluid d-block" alt="">
        </div>      
    </div>
</div> -->
<div class="row">
    <div class="col s12 m12 heading-custom">Open Projects</div>

    <div *ngFor="let project of openProjects$" class="col s12 m6">
        <div class="card card-custom">
            <div class="card-content" style="text-align:center;">
                <span class="card-title activator grey-text text-darken-4">
                    {{project.name}}
                </span>
                {{project.abstract | shorttext}}
            </div>
            <div class="card-action card-action-custom">
                <span *ngFor="let keyword of project.keywords">
                    <div class="chip">{{keyword}}</div>
                </span>
            </div>
            <div class="card-action card-action-custom">
                <a routerLink="/project/{{project.slug}}">Read More</a>
            </div>
        </div>
    </div>
    <div class="col s12 m12 heading-custom">Closed Projects</div>

    <div *ngFor="let project of closedProjects$" class="col s12 m6">
        <div class="card card-custom">
            <div class="card-content" style="text-align:center;">
                <span class="card-title activator grey-text text-darken-4">
                    {{project.name}}
                </span>
                {{project.abstract | shorttext}}
            </div>
            <div class="card-action card-action-custom">
                <span *ngFor="let keyword of project.keywords">
                    <div class="chip">{{keyword}}</div>
                </span>
            </div>
            <div class="card-action card-action-custom">
                <a routerLink="/project/{{project.slug}}">Read More</a>
            </div>
        </div>
    </div>
</div>
    