<div class="jumbotron">
    <div class="row" style="padding-left:150px ;padding-right:150px;">
        <div class="col-sm-6">
            <img src="https://zerodha.com/static/images/kite-dashboard.png" class="img-fluid d-block" alt="kite3.0">      
        </div>
        <div class="col-sm-6">
            <img src="https://zerodha.com/static/images/kite-dashboard.png" class="img-fluid d-block" alt="">
        </div>      
    </div>
  </div>
  <div>
    <div style="text-align: center">
        <h1>ACADEMIC RESEARCH PROJECTS</h1>
    </div>
    <br>
    <div class="description-wrapper" style="padding-left:150px;padding-right:150px;">
      <div class="descriptionss clear-float" id="project2">
          <div class="text description-text">
              <p class="text-data">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
      </div>
  </div>
  <div class="description-wrapper" style="padding-left:150px;padding-right:150px;">
    <div class="descriptionss clear-float" id="project2">
        <div class="text description-text">
            <p class="text-data">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
        </div>
    </div>
  </div>
  <div class="description-wrapper" style="padding-left:150px;padding-right:150px;">
    <div class="descriptionss clear-float" id="project2">
        <div class="text description-text">
            <p class="text-data">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
        </div>
    </div>
  </div>
  <div><br><br><br></div>
  <div style="text-align: center">
    <h1>PROJECT DETAILS</h1>
  </div>
  <br><br>
   </div>
   <div class="card-deck" style="padding-left: 200px;padding-right: 200px;">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/Video-1-home.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title" text-align="center"><b>PROJECT 1</b></h2>
        <p class="card-text"><br></p>
        <div class="card-title" text-align="center">
          <a href="#" class="btn" id="b1">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/Video-2-home.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title" text-align="center"><b>PROJECT 2</b></h2>
        <p class="card-text"><br></p>
        <div class="card-title" text-align="center">
          <a href="#" class="btn" id="b1">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/Video-3-home.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title" text-align="center"><b>PROJECT 3</b></h2>
        <p class="card-text"><br></p>
        <div class="card-title" text-align="center">
          <a href="#" class="btn" id="b1">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/Video-4-home.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title" text-align="center"><b>PROJECT 4</b></h2>
        <p class="card-text"><br></p>
        <div class="card-title" text-align="center">
          <a href="#" class="btn" id="b1">VIEW DETAILS</a>
        </div>
      </div>
    </div>
  </div>

  <div><br><br></div>
  <div class="card-deck" style="padding-left: 200px;padding-right: 200px;">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/Video-1-home.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title" text-align="center"><b>PROJECT 5</b></h2>
        <p class="card-text"><br></p>
        <div class="card-title" text-align="center">
          <a href="#" class="btn" id="b1">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/Video-2-home.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title" text-align="center"><b>PROJECT 6</b></h2>
        <p class="card-text"><br></p>
        <div class="card-title" text-align="center">
          <a href="#" class="btn" id="b1">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/Video-3-home.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title" text-align="center"><b>PROJECT 7</b></h2>
        <p class="card-text"><br></p>
        <div class="card-title" text-align="center">
          <a href="#" class="btn" id="b1">VIEW DETAILS</a>
        </div>
      </div>
    </div>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="https://s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/Video-4-home.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h2 class="card-title" text-align="center"><b>PROJECT 8</b></h2>
        <p class="card-text"><br></p>
        <div class="card-title" text-align="center">
          <a href="#" class="btn" id="b1">VIEW DETAILS</a>
        </div>
      </div>
    </div>
  </div>

  