footer, body .content {
  padding-left: 299px;
}

@media only screen and (max-width : 992px) {
  footer, body .content {
    padding-left: 0;
  }
}

/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/
/*body{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #369DC8;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
}
.heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    padding: 0;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.projects-wrapper{
    margin: 0px 30px 30px 30px;
}
.projects{
    height: 135px;
    background-color: #E6E6E6;
    box-shadow: 0px 20px 10px -10px #797371;
}
#project1{
    margin-top: 45px;
}
#project2{
    box-shadow: 15px 20px 10px -10px #797371;
}
.text-title{
    font-weight: 600;
    font-size: 27px;
    display: block;
    margin-bottom: 10px;
    color: #010000;
    font-family: 'Montserrat', sans-serif;
}
.text{
    padding-top: 15px;
    width: 64%;
    color: #484848;
}
.text-data{
    padding-left: 12px;
    padding-right: 12px;
    text-align: justify;
}
.image{
    width: 36%;
    background-image: url("assets/img/img3.jpg");
    height: 100%;
    background-repeat: no-repeat;
}
.image-url{
    background-image: url("assets/img/img2.jpg");
}
.learn-more{
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
}
.learn-more:hover{
    text-decoration: underline;
}
.joinus-wrapper{
    color: #010000;
    background-color: #E6E6E6;
    margin:  45px 30px 20px 0px;
    height: 480px;
}
.joinus-heading{
    padding-top: 15px;
    text-transform: uppercase;
    color: #5E5E5E;
}
.joinus-heading strong{
    display: block;
    color: black;
}
.joinus-text{
    padding: 5px 10px 0px 20px;
}
.joinus-line{
    display: block;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 30px;     
}
.clear-float{
    overflow: auto;
}
.clear-float::after {
    content: "";
    clear: both;
    display: table;
}

.nav-wrapper{
    display: inline-block;
    width: 100%;
   font-weight: 500;
    line-height: 75px;
    background: #ffffff;
    color: #010000;
    height: 75px;
    position: fixed;
    z-index: 999;
}
.nav-wrapper,
.nav-wrapper .nav-details{
    margin: 0;
    padding: 0px;
}
.nav-wrapper ul li{
    display: inline;
    margin: 0 10px;
}
.nav-wrapper .nav-details li a{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #010000;
}
.nav-wrapper .nav-details li a:hover{
    background-color: #71716F;
    padding: 10px;
    border-radius: 15px;
    text-decoration-line: none;
    color: #ffffff;
}
.logo{
    margin-left: 20px;
    margin-right: 350px;
    text-transform: uppercase;
    background-color: #369DC8;
    color: #ffffff;
    border-radius: 100%;
    line-height: 50px;
    padding: 5px;
    margin-top: 7px;
}   
.description-heading{
    padding-top: 50px;
}
.description-wrapper{
    max-width: 100%;
    margin: 40px 30px 70px 30px;
    word-spacing: 3px;
    max-height: 250px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 400;
    padding-left: 15px;
}
.descriptionss{
    background-color: #E6E6E6;
    height: 200px;
}
.description-image{
    width: 36%;
    height: 100%;
    background-repeat: no-repeat;
}
.description-text{
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 15px;
    color: #484848;
}
@media(max-width: 1199px){
    .projects{
        height: 180px;
        margin-bottom: 70px;
    }
    .description-wrapper{
        margin: 20px 25px;
        word-spacing: 2px;
        height: 300px;
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 25px;
        font-weight: 400;
        padding-left: 7px;
    }
    
    
    .projects-wrapper{
        width: 70%;
        font-size: 20px;
        line-height: 22px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .projects{
        height: 175px;
    }
    .news-wrapper{
        width: 20%;
        height: 700px;
        font-size: 15px;
        padding: 5px 8px 0px 10px;
    }
    .projects-wrapper{
        width: 60%;
        font-size: 18px;
        line-height: 20px;
    }
    .news-heading{
        font-size: 30px;
        text-align: center;
    }
}
@media (min-width: 350px) and  (max-width: 767px ){
    .projects{
        height: 200px;
        
    }
    body{
        font-size: 15px;
    }
    .description-wrapper{
        margin: 8px 5px;
        height: 450px;
        font-size: 13px;
        line-height: 15px;
        font-weight: 100;
    
    }
    .description-text{
        padding-left: 5px;
        padding-right: 5px;
    }
    .news-wrapper{
        width: 95%;
        height: 400px;
        font-size: 18px;
        padding: 5px 8px 0px 10px;
        margin: 8px 5px;
       
    }
    .projects-wrapper{
        width: 100%;
        font-size: 20px;
        line-height: 22px;
        margin: 8px 5px;
    }
    .heading{
        font-size: 30px;
    }
}
@media (max-width: 343px){
    .description-wrapper{
        margin: 2px 0px;
        height: 470px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 100;
    }
    .description-text{
        padding-left: 5px;
        padding-right: 5px;
    }
    .news-wrapper{
        width: 95%;
        height: 400px;
        font-size: 18px;
        padding: 5px 8px 0px 10px;
        margin: 8px 5px;
       
    }
    .projects-wrapper{
        width: 100%;
        font-size: 18px;
        line-height: 19px;
        margin: 8px 5px;
    }
}


.content-title-underline-white{
    width: 150px;
    height: 5px;
    background: white;
    margin: 15px auto 0px;
}
.content-title-underline-black{
    width: 150px;
    height: 5px;
    background: #5E5E5E;
    margin: 15px auto 0px;
}
.small-bottom-mrg{
    margin-bottom: 10px;
}
.medium-bottom-mrg{
    margin-bottom: 25px;
}
.small-top-mrg{
    margin-top: 30px;
}
.xs-top-margin{
    margin-top: 15px;
}
.pdg-top{
    padding-top: 50px;
}
.pdg-bottom{
    padding-bottom: 50px;
}
.big-bottom-mrg{
    margin-bottom: 50px;
}
.pdg-sm-top{
    padding-top: 25px;
}
.pdg-xs-top{
    padding-top: 15px;
}


.btn-blue{
    color: #5E5E5E;
    background-color: #369DC8;
    border: solid 3px #369DC8;
}
.btn-blue:focus,
.btn-blue:hover{
    border: solid 3px #369DC8;
    background-color: white;
    color: #369DC8;
}
*/
