<div *ngIf="!isWriteView$">
  <button class="button btn btn-warning"
    (click)="onCreatePressed()">
    Add FAQ
  </button>
  <table class="table">
    <thead>
        <tr>
          <th>Index</th>
          <th>FAQs</th>
          <th></th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let faq of faqs">
        <td>{{faq.index}}</td>
        <td>{{faq.question}} <br> {{faq.answer}}</td>
        <td>
          <button  class="btn btn-primary" 
            (click)="onEditPressed(faq)">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger"
            (click)="onDeletePressed(faq)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isWriteView$">

  <form #faqsForm="ngForm" (ngSubmit)="submitForm(faqsForm)">
    <div class="form-group">
      <label for="faqQuestion">FAQs</label>
      <input [(ngModel)] = "faqItem$.question" class="form-control" name="question"
      placeholder="Enter question" id="faqQuestion" type="text">
      
      <input [(ngModel)] = "faqItem$.answer" class="form-control" name="answer"
      placeholder="Enter answer" id="faqAnswer" type="text">
    </div>

    <button class="button btn btn-primary" type="submit">Save</button>

    <button class="button btn btn-danger"
      (click)="onCancelPressed()"> Cancel
    </button>
  </form>


</div>
