<!-- <h1 class="heading news-heading">News</h1>
<p class="news-text">
    <span *ngFor="let newsItem of news " class="news-line">
        {{newsItem.text}}
    </span>
</p> -->

<div class="news-wrapper">
    <h1 class="heading">News</h1>
    <div class="content-title-underline-black"></div>
    <div class="container-fluid">
    <div class="row news-body">
        <div class="col-md-1"></div>
        <div class="col-md-3 news-container">
            <div class="news-picture">
                <img src="../../assets/img/news1.jpg" width="100%" class="img-responsive" alt="">
            </div>
            <div class="news-text">
                <h5 class="pdg-xs-top">Mollit ex amet ea minim labore.</h5>
                <p>Occaecat esse ea reprehenderit nulla nostrud elit et et minim qui sit tempor non. Reprehenderit fugiat et.</p>
                <a href="">Read More...</a>
            </div>
        </div>
        <div class="col-md-3 news-container">
            <div class="news-picture">
                <img src="../../assets/img/news1.jpg" width="100%" class="img-responsive" alt="">
            </div>
            <div class="news-text">
                <h5 class="pdg-xs-top">Mollit ex amet ea minim labore.</h5>
                <p>Occaecat esse ea reprehenderit nulla nostrud elit et et minim qui sit tempor non. Reprehenderit qui occaecat.</p>
                <a href="">Read More...</a>
            </div>
        </div>
        <div class="col-md-3 news-container">
            <div class="news-picture">
                <img src="../../assets/img/news1.jpg" width="100%" class="img-responsive" alt="">
            </div>
            <div class="news-text">
                <h5 class="pdg-xs-top">Mollit ex amet ea minim labore.</h5>
                <p>Occaecat esse ea reprehenderit nulla nostrud elit et et minim qui sit tempor non. Reprehenderit fugiat occaecat.</p>
                <a href="">Read More...</a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    </div>
</div>