.publication-wrapper{
    padding: 0 50px;
}
.publication-heading-border{
    border-right: solid 2px black;

}
.publication-heading-wrapper{
    padding: 5px;
    text-align: center;
}
.publication-year-text{
    color: black;
    letter-spacing: 0.5px;
}
hr{
    height:2px;border:none;color:#333;background-color:#333;
}
.publication-title{
    display: block;
    background-color:  #369DC8;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 35px auto; 
    margin-bottom: 15px;
    width: 95%;
}