<div class="row">
  <div class=" row col s12 m12 heading-custom blue-text">Publications</div>

  <div *ngIf="showSpinner" class="spinner-wrapper-custom">
    <div class="s12 m12 spinner-custom preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
            <div class="circle"></div>
            </div>
            <div class="gap-patch">
            <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
            <div class="circle"></div>
            </div>
        </div>
        </div>
    </div>

  <div *ngFor="let pub_year of pub_years_keys$.slice().reverse()" class="card intro-card col s12 m8 offset-m2">
        <div class="card-content">
            <span class="card-title">{{pub_year}}</span>
            
              <ol class="intro-card-text">
                <li *ngFor="let pub of pub_years$[pub_year]"  class="col s12 m12">
                  <a target="_blank" href="{{pub.filepath}}">{{pub.name}}</a>
                </li>
              </ol>
            
        </div>
  </div>
  
</div>
