.heading-custom{
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}
.intro-card{
  padding: 0px 0px 40px 0px;
  margin: 0 auto;
  margin-bottom: 12px;
  margin-top: 12px;
}
.card-title{
  text-align: center;
}
.spinner-wrapper-custom{
  text-align: center;
}
.spinner-custom{
  display: inline-block;
}