<div class="publication-wrapper small-top-mrg">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 publication-heading-wrapper publication-heading-border">
      <h3 class="publication-heading">Papers Published</h3>
    </div>
    <div class="col-md-2 publication-heading-wrapper publication-heading-border">
      <h3 class="publication-heading r">These</h3>
    </div>
    <div class="col-md-3 publication-heading-wrapper">
      <h3 class="publication-heading">Presentations</h3>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="publication-year">
    <h3>2019</h3>
    <hr size="5">
    <ul class="publication-year-text">
      <li>lorem ipsum h tgyh ftyuhj  fyguhj ftyhjb wsd rtId cupidatat irure incididunt laborum culpa sunt nulla esse.yjoiu yhjio drftgyhu drtfyghjb rtfybh  rtfyguh rtfyvgbhj</li>
      <li class="pdg-xs-top">lorem ipsum h tgyh ftyuhj Velit ullamco consequat ullamco eiusmod sint. fyguhj ftyhjb wsd rtyjoiu yhjio drftgyhu drtfyghjb rtfybh  rtfyguh rtfyvgbhj</li>
      <li class="pdg-xs-top">Laboris tempor ad id esse occaecat consectetur dolor eu.Nulla exercitation est est nulla dolore dolore ut et velit tempor.Adipisicing ullamco pariatur laboris duis incididunt qui irure enim in et magna irure non.</li>
      
    </ul>
  </div>
  <div class="publication-year">
      <h3>2018</h3>
      <hr size="5">
      <ul class="publication-year-text">
          <li>Laboris tempor ad id esse occaecat consectetur dolor eu.Nulla exercitation est est nulla dolore dolore ut et velit tempor.Adipisicing ullamco pariatur laboris duis incididunt qui irure enim in et magna irure non.</li>
          <li class="pdg-xs-top">Laboris tempor ad id esse occaecat consectetur dolor eu.Nulla exercitation est est nulla dolore dolore ut et velit tempor.Adipisicing ullamco pariatur laboris duis incididunt qui irure enim in et magna irure non.</li>
          <li class="pdg-xs-top">Laboris tempor ad id esse occaecat consectetur dolor eu.Nulla exercitation est est nulla dolore dolore ut et velit tempor.Adipisicing ullamco pariatur laboris duis incididunt qui irure enim in et magna irure non.</li>
        </ul>
    </div>
    <div class="publication-year">
        <h3>2017</h3>
        <hr size="5">
        <ul class="publication-year-text">
          <li>Laboris tempor ad id esse occaecat consectetur dolor eu.Nulla exercitation est est nulla dolore dolore ut et velit tempor.Adipisicing ullamco pariatur laboris duis incididunt qui irure enim in et magna irure non.</li>
          <li class="pdg-xs-top">Laboris tempor ad id esse occaecat consectetur dolor eu.Nulla exercitation est est nulla dolore dolore ut et velit tempor.Adipisicing ullamco pariatur laboris duis incididunt qui irure enim in et magna irure non.</li>
        </ul>
      </div>
</div>
