<h3 class="joinus-heading">Join Us</h3>
<ul class="pdg-xs-top">
  <li> Project 1 : <a href="">Aute fugiat exercitation nisi magna ex enim </a></li>
  <li> Project 2 : <a href="">Aute fugiat exercitation nisi magna ex enim </a></li>
  <li> Project 3 : <a href="">Aute fugiat exercitation nisi magna ex enim </a></li>
  <li> Project 4 : <a href="">Aute fugiat exercitation nisi magna ex enim </a></li>
</ul>

<div class="joinus-btn">
	<h5>Have an idea ?</h5> 
<a href="" role="button" class="btn btn-lg btn-blue ">Contact Us</a>

</div>
