.joinus-wrapper{
    width: 20%;
    height: 700px;
    font-size: 20px;
}
.joinus-heading{
    color: #5E5E5E;
    font-size: 40px;
    padding-left: 10%;
}
.joinus-heading strong{
    display: block;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}
.joinus-btn{
    padding-left: 10%;
}