<h3 class="joinus-heading">Let's<strong>Join Us</strong></h3>
<ul class="pdg-xs-top">
  <li><a href="">Aute fugiat exercitation nisi magna ex enim </a></li>
  <li><a href="">Aute fugiat exercitation nisi magna ex enim </a></li>
  <li><a href="">Aute fugiat exercitation nisi magna ex enim </a></li>
  <li><a href="">Aute fugiat exercitation nisi magna ex enim </a></li>
  <li><a href="">Aute fugiat exercitation nisi magna ex enim </a></li>

  <li><a href="">Aute fugiat exercitation nisi magna ex enim </a></li>

</ul>
<div class="joinus-btn">
<a href="" role="button" class="btn btn-lg btn-blue ">Hit Us</a>

</div>
