<!-- <div *ngIf="showFooter$" 
  class="footer-wrapper container-fluid small-top-mrg">
  <h2 class="pdg-sm-top text-center">Contact Us</h2>
  <div class="address pdg-sm-top">
    <p></p>
    <p></p>
  </div>
</div>
<div class="footer-bottom">
    <p>Copyright © 2019 - All Rights Reserved</p>
</div> -->
<div class="grey darken-2 page-footer footer-custom footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <p class="grey-text text-lighten-4">
              <span>Address : </span>608, Sardar Patel Institute of Technology, Bhavan's Campus, Munshi Nagar, Andheri West, Mumbai, Maharashtra 400058
          </p>
          <p class="grey-text text-lighten-4">
              <span>Phone Number : </span>+91 (22)-26707440
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          Copyright © 2019 - All Rights Reserved
      </div>
    </div>
  </div>
